<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.css">
</head>
<body>
  <section class="section">
    <div class="columns">
      <div class="column is-half is-offset-one-quarter">
        <div class="container is-fluid">
          <h2 class="title is-2 has-text-centered">
            What do you need to do today?
          </h2>
          <div class="block">
            <form action="{% url 'add' %}" method="POST">
              <div class="field is-grouped">
                <p class="control is-expanded">
                  {% csrf_token %}
                  {{ form.text }}
                </p>
                <p class="control">
                  <input class="button is-info" type="submit" value="ADD">
                </p>
              </div>
            </form>
          </div>
          <div class="block">
            <a href="{% url 'deletecompleted' %}" class="button is-danger">DELETE COMPLETED</a>
            <a href="{% url 'deleteall' %}" class="button is-danger">DELETE ALL</a>
          </div>
<!--           <ul>
            {% for task in task_list %}
              {% if task.completed %}
                <li class="has-background-primary">{{ task.text }}</li>
              {% else %}
                <a href="{% url 'complete' task.id %}"><li class="has-background-danger">{{ task.text }}</li></a>
              {% endif %}
            {% endfor %}
          </ul> -->

          <table class="table is-striped is-fullwidth is-bordered is-hoverable">
            <tbody>
              
            {% for task in task_list %}
              {% if task.completed %}
              <tr class="is-selected"><td>{{ task.text }}</td></tr>
              {% else %}
                <tr><td><a href="{% url 'complete' task.id %}">{{ task.text }}</a></td></tr>
              {% endif %}
            {% endfor %}
          </tbody>
          </table>








        </div>
      </div>
    </div>
  </section>
</body>
</html>
